* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kode Mono", monospace;
}


canvas{
    position: fixed;
    top:0;
    z-index: -3;
}

.container{
    height:6000px;;
    
}

.btn1{
	position: fixed;
    margin-left: 42vw;
    margin-top: 92vh;
    color:white;
    background: none;
    border:none;
}


.btn2{
	position: fixed;
    margin-left: 48vw;
    margin-top: 92vh;
    color:white;
    background: none;
    border:none;
}

.explore{
	position: fixed;
    margin-left: 52vw;
    margin-top: 92vh;
    color:white;
    background: none;
    border:none;
}

.btn3{
	position: fixed;
    margin-left: 60vw;
    margin-top: 92vh;
    color:white;
    background: none;
    border:none;
}

.Mayday{
	position: fixed;
    margin-left: 26vw;
    margin-top: 93vh;
	color:rgb(255, 255, 255);
	background: none;
	border: none;
    /* padding:15px;
    min-height:30px; 
    min-width: 160px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border:none;
    border-radius: 12px; */
}

.Mayday:hover{
	background-color: rgb(122, 34, 34);
	color:black;
	transition:0.7s;
}




/* .entryPopup{
   
} */

.popupcontent {
    position: fixed;
    width: 70vw;
    height: 64vh;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 14px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 46px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20vh;
    margin-left: 18vw;
}


.startButton {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 27vh;

}

#app {
    overflow: hidden;
    touch-action: pan-up;
    color: #ADF7FF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 0 0 5px #ADF7FF, 0 0 20px #000, 0 0 30px #000;
}

#app canvas{
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
}
